<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta http-equiv="pragma" content="no-cache" />
    <meta http-equiv= "Cache-Control" content= "no-cache" /> 
    <meta http-equiv= "Expires" content= "0" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta content="telephone=no" name="format-detection" />
    <link rel="stylesheet" href="styles/css/sm.min.css">
    <link rel="stylesheet" type="text/css" href="styles/css/style.css"/>
    <script src="./scripts/zepto.min.js"></script>
    <script src="./scripts/config.js"></script>
    <title>我的订单</title>       
</head>
<body>
    <div class="nav-plcaceholder"></div>
    <div id="page-ptr" class="page">
        <header class="bar bar-nav">
            <h1 class="title">我的订单</h1>
        </header>
        <input type="hidden" id="lat">
        <input type="hidden" id="lng">
        <input type="hidden" id="userId">
        
        <div class="content infinite-scroll infinite-scroll-bottom pull-to-refresh-content" data-distance="100" data-ptr-distance="55">
            <div class="pull-to-refresh-layer">
                <div class="preloader"></div>
                <div class="pull-to-refresh-arrow"></div>
            </div>
            <ul class="order-list"></ul>
            
            <!-- 加载提示符 -->
            <div class="infinite-scroll-preloader">
              <div class="preloader"></div>
            </div>
            <div class="nav-blank"></div>
        </div>
        <!-- 工具栏 -->
        <nav class="bar bar-tab">
            <a class="tab-item external" href="index.html">
                <span class="icon icon-index"></span>
                <span class="tab-label">抢单</span>
            </a>
            <a class="tab-item external active" href="myOrderList.html">
                <span class="icon icon-order"></span>
                <span class="tab-label">航程</span>
            </a>
            <a class="tab-item external" href="userInfo.html">
                <span class="icon icon-my"></span>
                <span class="tab-label">我的</span>
            </a>
        </nav>
    </div>
    <script type="text/html" id="listTempl">
        {{each data as list i}}
            <li reserveId="{{list.id}}" status="{{list.status}}" checkStatus="{{list.checkStatus}}" class="{{if list.status == 1 && list.checkStatus == 0}}J_link{{/if}}">
                <div class="o-title o-title2">
                    <div class="name">{{list.goodsName}}{{list.dispatchWeight}}吨</div>
                    <div class="state"><span class="state-info">{{if list.signPic}}已签收{{else if list.status == 1 && list.checkStatusName}}{{list.checkStatusName}}{{else}}{{list.statusName}}{{/if}}</span><i class="arrow"></i></div>
                </div>
                <div class="info-box">
                    <div class="time"><i class="icon-time"></i><span>装货时间：{{list.dischargeTime}}</span></div>
                    <div class="info"><i class="icon-start"></i><span>装货码头：{{list.startPortName}}</span></div>
                    <div class="info"><i class="icon-end"></i><span>卸货码头：{{list.endPortName}}</span></div>
                </div>
                {{if list.status == 1 && list.checkStatus == 0}}
                <div class="btn-box border-thin">
                    <p class="tip">{{if list.specialTip}}注：{{list.specialTip}{{/if}}</p>
                    <div class="btn border-thin J_cancel">取消预约</div>
                </div>
                {{/if}}
                {{if list.checkStatus == 1 && !list.signPic}}
                <div class="btn-box border-thin">
                    <p class="tip"></p>
                    <div class="btn border-thin J_receive"><span>签收</span><label class="choose" for="{{list.id}}" msg="签收照片"></label><input id="{{list.id}}" accept="image/png,image/jpeg" capture="camera" type="file" name="images" class="file-input hide"></div>
                </div>
                {{/if}}
            </li>
        {{/each}}
    </script>
    <script>
        var //myOrderUrl = $.config.appUrl + '/xyl/reservation/getMyOrder',//我的订单接口
            myOrderUrl = 'temp/data/orderList.json',
            cancelUrl = $.config.appUrl + '/xyl/reservation/modify',//取消预约接口
            uploadFileUrl = $.config.appUrl +'/xyl/file/upfile'//图片上传
            infoSubmitUrl = $.config.appUrl + '/xyl/reservation/add';//提交
    </script>
    <script type="text/javascript">
    lazyLoad.require(['./scripts/sm.min.js','./scripts/common.js'],function(sm,boatIndex){
        if(boatIndex.isAndroid && boatIndex.isXYWL && XYNativeClient){
            window.doBack = function(){
                try{
                    XYNativeClient.doFinish();
                }
                catch(e){
                    //alert(e);
                }
            }
        }
        var token = '';
        setTimeout(function(){
            token = boatIndex.getUserTag('token');
        },100)
        var params = {
            url: myOrderUrl,
            data:{queryParamFlag:1},
            parent:$('.order-list'),
            templateId:'listTempl',
            handleData: function(data){
                data.dischargeTime = getLongDate(data.dischargeTime*1000);
            },
            success:function(json, elements){
                console.log(elements)
                $(elements).each(function(index,element){
                    var reserveId = $(element).attr('reserveId'),
                        J_link = $(element),
                        J_cancel = $(element).find('.J_cancel'),
                        J_receive = $(element).find('.J_receive');
                    if($(element).attr('status') == 1 && $(element).attr('checkStatus') == 0){
                        
                        J_link.on('click',function(){
                             window.location.href = 'appointSuccess.html?id=' + reserveId;
                        });
                        J_cancel.on('click',function(e){
                            e.stopPropagation();
                            $.confirm('是否取消预约？', function(){
                                boatIndex.commonAjax({
                                    url: cancelUrl,
                                    type: 'POST',
                                    data: {
                                        id: reserveId
                                    },
                                    success:function(data,elements,parent){
                                        if(data.success){
                                            boatIndex.toast('订单已关闭');
                                            setTimeout(function(){
                                                location.reload();
                                            },1000);
                                        }
                                        else{
                                            if(data.msg)boatIndex.toast(data.msg);
                                        }
                                    },
                                    error:function(data){
                                        boatIndex.toast('网络连接失败，请稍后重试...');
                                    }
                                });
                            });
                            
                        });
                        
                    };
                    var $file = $(element).find('.file-input'),
                        choose = $(element).find('.choose');
                    if(boatIndex.isXYWL) {
                        choose.bind('click',function(){
                            e.stopPropagation();
                            var id = $(this).next('input').attr('id');
                            XYNativeClient.showImgSelectDialog(2,id,token,uploadFileUrl);
                        });
                    }
                    
                    $file.on("change", function(e) {
                        var $this = $(this);
                        formUploadFile(e.target.files[0], function(data) {
                            //返回图片地址
                            if(data.success && data.data.filePath){
                                var url = data.data.filePath;
                                boatIndex.commonAjax({
                                    url: infoSubmitUrl,
                                    type: "POST",
                                    data: {
                                        signPic: url,
                                        id: reserveId
                                    },
                                    success:function(data){
                                        $.hidePreloader();
                                        if(data.success && data.data){
                                            $(elements).find('.state-info').text('已签收');
                                            $(elements).find('.btn-box').hide();
                                        }
                                        else if(data.msg){
                                            boatIndex.toast(data.msg);
                                        } 
                                    },
                                    error:function(data){
                                        $.hidePreloader();
                                        boatIndex.toast('网络连接失败，请稍后重试...');
                                    }
                                });
                            }
                            else{
                                $.hidePreloader();
                                boatIndex.toast(data.msg);
                            }
                            
                        }, function(json) {
                            $.hidePreloader();
                            boatIndex.toast('图片上传失败，请重新尝试...');
                        });
                    }, false);
                    
                });
            },
            zero:function(parent){
                var html = '<div class="zero-box"><div class="icon"><i></i></div><div class="msg">暂无订单</div></div>';
                parent.html(html);
            }
        };
        setTimeout(function(){
            boatIndex.infinitScroll(params);
        },100)
        $(document).on('refresh', '.pull-to-refresh-content',function(e) {
            // 模拟1s的加载过程
            setTimeout(function() {
                $('.order-list').empty();
                boatIndex.infinitScroll(params);
                // 加载完毕需要重置
                $.pullToRefreshDone('.pull-to-refresh-content');
            }, 1000);
        });
        $.init();
        //获取时间
        function getLongDate(str){
            var oDate = new Date(str),  
            oYear = oDate.getFullYear(),  
            oMonth = oDate.getMonth()+1,  
            oDay = oDate.getDate(),
            oHour = oDate.getHours(),  
            oMin = oDate.getMinutes(),  
            oSen = oDate.getSeconds(),
            oTime;
            if(tommorrow(str*1000,1)){
                oTime = '明天 '+ getzf(oHour) +':'+ getzf(oMin) +':'+getzf(oSen);//
            }
            else if(tommorrow(str*1000,2)){
                oTime = '后天 '+ getzf(oHour) +':'+ getzf(oMin) +':'+getzf(oSen);//
            }
            else{
                oTime = oYear +'-'+ getzf(oMonth) +'-'+ getzf(oDay) +' '+ getzf(oHour) +':'+ getzf(oMin) +':'+getzf(oSen);//最后拼接时间 
            }
            return oTime;  
        };  
        //补0操作  
        function getzf(num){  
            if(parseInt(num) < 10){  
                num = '0'+num;  
            }  
            return num;  
        }
        //判断明天后天
        function tommorrow(str,num){
            var oDate = new Date(str),
                oTime = oDate.getTime(),
                nData = new Date(),
                nTime = nData.getTime(),
                tDate = new Date(nTime + num*24*60*60*1000),
            tYear = tDate.getFullYear(),  
            tMonth = tDate.getMonth(),
            tDay = tDate.getDate(),
            sDate = new Date(tYear,tMonth,tDay,0,0,0),
            eDate = new Date(tYear,tMonth,tDay,23,59,59),
            sTime = sDate.getTime(),
            eTime = eDate.getTime();
            if(sTime <= oTime && oTime <= eTime ){
                return true;
            }
        }
        window.showLoading = function(msg){
            var msg = msg || '加载中';
            $.showPreloader(msg);
            setTimeout(function(){
                $.hidePreloader();
            },5000);
        }
        //文件上传方法
        function formUploadFile(file, success, error) {
            if (file.size > 1024 * 1024 * 10) {
                boatIndex.toast("图片不能超过10M");
                return;
            }
            var xhr = new XMLHttpRequest();
            if (xhr.upload) {
                xhr.onreadystatechange = function(e) {
                    if (xhr.readyState == 4) {
                        if (xhr.status == 200) {
                            if (success != undefined) {
                                success(JSON.parse(xhr.responseText));
                            }
                        } else {
                            if (error != undefined) {
                                error(JSON.parse(xhr.responseText));
                            }
                        }
                    }
                };
                // 开始上传
                xhr.open("POST", uploadFileUrl, true);
                var formData = new FormData();
                formData.append("fileName", file);
                formData.append("token", token);
                xhr.send(formData);
            }
        }
        window.showH5Img = function(id,url){
            if(!url){
                $.hidePreloader();
                boatIndex.toast('图片上传失败，请重新尝试')
                return;
            }
            var imgTag = $('#'+id).prev('label'),
                src = url + '?token=' + token;
            boatIndex.commonAjax({
                url: infoSubmitUrl,
                type: "POST",
                data: {
                    signPic: url
                },
                success:function(data){
                    $.hidePreloader();
                    if(data.success && data.data){
                        $(elements).find('.state-info').text('已签收');
                        $(elements).find('.btn-box').hide();
                    }
                    else if(data.msg){
                        boatIndex.toast(data.msg);
                    } 
                },
                error:function(data){
                    $.hidePreloader();
                    boatIndex.toast('网络连接失败，请稍后重试...');
                }
            });
            
        }
    });
    </script>
</body>
</html>